/* Reset de estilo para remover margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #1a110c;
    color: #f6fa17;
    padding: 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #f11d1d;
    margin-top: 30px;
}

.container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 300px;
    background: #272121;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #272121;
    border: 1px solid #b3d8b3;
    border-radius: 8px;
}

.item {
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}

.result.viavel {
    background: #e0f8e0;
    border-color: #9cd89c;
}
  
.result.nao-viavel {
    background: #fce0e0;
    border-color: #e89c9c;
}