<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <!-- Carregar arquivos estáticos do Django -->
    {% load static %}
    <!-- Referência ao arquivo CSS -->
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <!-- Script para o dropdown -->
    <script src="{% static '/js/home.js' %}"></script>
</head>
<body>
    <!-- Footer -->
    <div class="footer">
        &copy; 2023 Meu Site. Todos os direitos reservados.
    </div>
</body>
</html>